<div class="signup-confirm-wrapper">
  <div class="row no-gutters signup-content">
    <div class="col-md-3 d-none d-md-flex ads-box">
      <img src="../../assets/img/travel.png" alt="">
      <a routerLink="/">Sorium</a>
    </div>
    <div class="col-12 col-md-9 signup-confirm">
      <div class="top-logo d-flex d-md-none">
        <img src="../../assets/img/sorium.png" routerLink="/">
      </div>
      <h3>Đăng ký thành công, chờ được xác nhận!</h3>
      <p>Mọi thông tin chi tiết sẽ được gửi tới email của bạn.</p>
      <button mat-flat-button routerLink="/">Về Trang chủ</button>
    </div>
  </div>

</div>
