@font-face{
  font-family: Playful;
  src: url(../../assets/font/PlaylistScript.otf);
}
footer{
  background: #e0e0e0;
  .about{
    font-size: .8rem;
    h3{
      font-size: 1rem;
    }
    mat-list-item{
      height: auto;
      a{
        text-decoration: none;
        color: #212529;
      }
    }
  }
  .copyright{
    background: #343434;
    color: #fff;
    p{
      width: 100%;
    }
    h2{
      color: #fff;
      font-family: Playful;
      font-size: 5rem;
      display: block;
      margin: auto;
    }
  }
}
