<footer class="">
  <div class="row no-gutters about p-5">
    <div class="col-12 col-md-3">
      <mat-list>
        <h3>Trợ giúp</h3>
        <mat-list-item><a routerLink="/cau-hoi">Câu hỏi thường gặp</a></mat-list-item>
        <mat-list-item><a routerLink="/chinh-sach">Chính sách bảo mật</a></mat-list-item>
        <mat-list-item><a routerLink="/chinh-sach">Chính sách về cookie</a></mat-list-item>
        <mat-list-item><a routerLink="/dieu-khoan">Điều khoản sử dụng</a></mat-list-item>
      </mat-list>
    </div>
    <div class="col-12 col-md-3">
      <mat-list>
        <h3>Về chúng tôi</h3>
        <mat-list-item><a routerLink="/lien-he">Liên hệ với chúng tôi</a></mat-list-item>
        <mat-list-item><a routerLink="/tuyen-dung">Thông tin tuyển dụng</a></mat-list-item>
      </mat-list>
    </div>
    <div class="col-12 col-md-3">
      <mat-list>
        <h3>Điểm du lịch</h3>
        <mat-list-item><a routerLink="/tinh-thanh">Thành phố</a></mat-list-item>
      </mat-list>
    </div>
    <div class="col-12 col-md-3">
      <mat-list>
        <h3>Đối tác của chúng tôi</h3>
        <mat-list-item><a routerLink="/">Khách sạn</a></mat-list-item>
        <mat-list-item><a routerLink="/doi-tac">Đối tác liên kết</a></mat-list-item>
      </mat-list>
    </div>
  </div>
  <div class="row no-gutters copyright p-5 text-center">
    <p>Mọi nội dung tại đây © 2005 – 2018 Công ty Sorium Pte. Ltd. giữ toàn quyền<br>
    Sorium.com là thành viên của Tập đoàn Sorium Booking Inc., nhà cung cấp dịch vụ du lịch trực tuyến & các dịch vụ có liên quan hàng đầu Việt Nam.</p>
    <h2 class="pt-5">Sorium</h2>
  </div>
</footer>
