@import "../../scss/variables.scss";
.owner-hotel-wrapper{
  background: #f2f3f8;
  .owner-hotel{
    width: 100%;
    border-left: 4px solid $cl-primary;
    background: $cl-white;
    padding: 1rem;
    h2{
      font-size: 2rem;
      color: $cl-primary;
    }
    form{
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      .mat-form-field{
        width: calc(50% - .5rem);
        margin-bottom: .5rem;
        &:nth-child(odd){
          margin-right: .5rem;
        }
        &:nth-child(even){
          margin-left: .5rem;
        }
      }
      .hotel-description{
        width: 100%;
        margin-right: 0!important;
      }
    }
  }
}
.paper{
  width: 100%;
  .f-upload{
    width: 100%;
    .upload-btn{
      overflow: hidden;
      position: relative;
      cursor: pointer;
      margin-bottom: 1rem;
      label{
        cursor: pointer;
        display: flex;
        width: 100%;
        height: 100%;
        margin-bottom: 0;
        width: 150px;
        padding: .5rem 0;
        .mat-icon{
          margin: auto;
        }
        .mat-spinner{
          margin: auto;
          circle{
            stroke: $cl-white;
          }
        }
      }
      input{
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: -1;
      }
    }
  }
}
.submit-btn{
  display: flex;
  p{
    margin: auto;
  }
  .mat-spinner{
    margin: auto;
    circle{
      stroke: $cl-white;
    }
  }
}
.preview-img{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem 1rem;
  .preview-item{
    height: 200px;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    transition: all .15s ease-in-out;
    .delete{
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      opacity: .7;
      transform: translateX(100%);
      transition: all .15s ease-in-out;
      .mat-icon{
        color: $cl-white;
      }
    }
    &:hover{
      box-shadow:0 5px 5px -3px rgba($cl-primary,.3), 0 8px 10px 1px rgba($cl-primary,.3), 0 3px 14px 2px rgba($cl-primary,.3);
      .delete{
        opacity: 1;
        transform: translateX(0)
      }
    }
  }
}
