<app-header></app-header>

<div class="row no-gutters payment-wrapper px-2 py-5">
  <div class="col-12">
    <h3>Đặt phòng khách sạn</h3>
  </div>
  <div class="col-12 col-md-4 room-info pl-2">
    <div class="room sm-shadow mb-2">
      <h3 class="hotel-title">{{Hotel?.Name}}</h3>
      <div class="hotel-subtitle">
        <nz-rate nzDisabled nzAllowHalf [ngModel]="room?.Star"></nz-rate>
        <mat-icon matPrefix>location_on</mat-icon>
        <p>{{Hotel?.Address}}, {{Hotel?.DistrictName}}, {{Hotel?.ProvinceName}}</p>
      </div>
      <div class="room-avatar py-2">
        <img src="https://luxuria-api.azurewebsites.net{{room?.Avatar}}" class="fluid-img">
      </div>
      <h4 class="room-title">{{room?.Name}}</h4>
      <mat-divider></mat-divider>
      <table>
        <tr>
          <td>Số đêm nghỉ:</td>
          <td>{{day}} đêm</td>
        </tr>
        <tr>
          <td>Tổng số người:</td>
          <td>{{people}} người</td>
        </tr>
        <tr>
          <td>Tổng tiền</td>
          <td class="price">{{money}} đ</td>
        </tr>
      </table>
      <mat-divider></mat-divider>
    </div>
    <div class="payment-method sm-shadow mb-2">
      <h3>Thanh toán tại khách sạn</h3>
      <p>Hình thức Thanh toán tại Khách sạn cho phép bạn giữ phòng mà không cần thanh toán ngay. Bạn sẽ thanh toán toàn bộ chi phí đặt phòng bằng tiền mặt hoặc thẻ khi nghỉ tại khách sạn. </p>
    </div>
  </div>
  <div class="col-12 col-md-8">
    <div class="payment-content p-2 mb-2 sm-shadow">
      <mat-vertical-stepper [linear]="true" #stepper>

        <mat-step [stepControl]="firstForm" [completed]="isCompleted">
          <form [formGroup]="firstForm" class="first-form" (ngSubmit)="onSubmit()" >
            <ng-template matStepLabel>Thông tin của bạn</ng-template>
            <mat-form-field class="client-name">
              <input matInput placeholder="Họ tên" formControlName="GuestName" required>
              <mat-error *ngIf="GuestName.errors?.required">
                Vui lòng nhập Họ tên
              </mat-error>
            </mat-form-field>
            <mat-form-field class="client-phone">
              <input matInput placeholder="Số điện thoại di động" formControlName="GuestPhoneNumber" required>
              <mat-error *ngIf="GuestPhoneNumber.errors?.pattern">
                Vui lòng nhập số từ 0 - 9
              </mat-error>
              <mat-error *ngIf="GuestPhoneNumber.errors?.minlength && !GuestPhoneNumber.errors?.pattern">
                Tối thiểu 9 ký tự
              </mat-error>
              <mat-error *ngIf="GuestPhoneNumber.errors?.maxlength && !GuestPhoneNumber.errors?.pattern">
                Tối đa 10 ký tự
              </mat-error>
            </mat-form-field>
            <mat-form-field class="client-email">
              <input matInput placeholder="Email" formControlName="GuestEmail" required>
              <mat-error *ngIf="GuestEmail.errors?.email">
                Sai định dạng email
              </mat-error>
            </mat-form-field>
            <div>
              <button mat-flat-button matStepperNext type="submit" [disabled]="firstForm.invalid">Next</button>
            </div>
          </form>
        </mat-step>

        <!-- <mat-step [stepControl]="secondForm">
            <form [formGroup]="secondForm" class="secondForm">
              <ng-template matStepLabel>Chi tiết thanh toán</ng-template>
              <p>Bạn có thể thanh toán tại khách sạn hoặc qua thẻ tín dụng</p>
              <mat-button-toggle-group #group="matButtonToggleGroup" value="visa">
                <mat-button-toggle value="visa" matTooltipClass="tooltip-bg" matTooltip="Visa">
                  <mat-icon fontSet="fab" class="fa-icon" fontIcon="fa-cc-visa"></mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="paypal" matTooltipClass="tooltip-bg" matTooltip="Paypal">
                  <mat-icon fontSet="fab" class="fa-icon" fontIcon="fa-cc-paypal"></mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="amazon" matTooltipClass="tooltip-bg" matTooltip="AmazonPay">
                  <mat-icon fontSet="fab" class="fa-icon" fontIcon="fa-cc-amazon-pay"></mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="other" matTooltipClass="tooltip-bg" matTooltip="Thẻ tín dụng khác">
                  <mat-icon fontSet="fa" class="fa-icon" fontIcon="fa-credit-card"></mat-icon>
                </mat-button-toggle>
              </mat-button-toggle-group>
              <mat-form-field>
                <input matInput placeholder="số thẻ tín dụng" formControlName="credit" required>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Tên trên thẻ" formControlName="creditName" required>
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-flat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step> -->

          <mat-step>
            <ng-template matStepLabel>Hoàn tất</ng-template>
            <div class="confirm" matRipple>
              <p>Cảm ơn bạn đã đặt phòng!</p>
              <p>Vui lòng kiểm tra email của bạn để biết thêm chi tiêt</p>
              <mat-icon>check_circle_outline</mat-icon>
            </div>
          </mat-step>

      </mat-vertical-stepper>
    </div>
    <div class="mb-2 payment-cancel sm-shadow">
      <h3>Chính sách hủy đặt phòng</h3>
      <p>Sorium sẽ thống báo với khách sạn nếu bạn muốn hủy đặt phòng. Khách sạn sẽ liên hệ với bạn để thông báo thông tin chi tiết.</p>
    </div>
  </div>
</div>

<app-footer></app-footer>
