@import "../../scss/variables.scss";
.ant-anchor-wrapper{
  box-shadow:0 3px 1px -2px rgba(0,0,0,.1), 0 2px 2px 0 rgba(0,0,0,.08), 0 1px 5px 0 rgba(0,0,0,.06);
  .ant-anchor{
    display: flex;
    flex-flow: row nowrap;
    position: sticky;
    top: 0;
    padding: .5rem 5rem;
    .ant-anchor-ink{
      display: none;
    }
    .ant-anchor-link{
      position: relative;
      font-weight: 700;
      font-size: 1rem;
      text-transform: uppercase;
      will-change: auto;
      transition: all .2s ease-in-out;
      border-radius: 2px;
      padding: 0;
      margin-right: .25rem;
      .ant-anchor-link-title{
        display: block;
        width: 100%;
        height: 100%;
        padding: .5rem 1rem;
        margin: 0;
        text-decoration: none;
        will-change: auto;
        transition: all .2s ease-in-out;
      }
      &:after{
        position: absolute;
        display: block;
        content: '';
        width: 0;
        height: 2px;
        left: 50%;
        bottom: 0;
        background: $cl-primary;
        transition: all .2s ease-in-out;
        will-change: auto;
      }
      &:hover{
        background: rgba($cl-primary, .15);
        .ant-anchor-link-title{
          color: $cl-primary;
        }
      }
    }
    .ant-anchor-link-active{
      .ant-anchor-link-title{
        color: $cl-primary;
      }
      &:after{
        left: 0;
        width: 100%;
      }
    }
  }
  @media (max-width: 767px){
    .ant-anchor{
      padding: .5rem;
    }
  }
}



.hotel{
  padding-top: 60px;
  .hotel-title{
    font-size: 1.6rem;
    color: $cl-primary;
    margin: 0;
  }
}

.detail-wrapper{
  .hotel-about{
    .ha-wrapper{
      .ha-content{
        padding: 1rem;
        .hotel-subtitle{
          display: flex;
          flex-flow: row nowrap;
          align-items: flex-end;
          .mat-icon{
            font-size: 1rem;
            width: 1rem;
            height: 1rem;
            align-self: center;
          }
          .ant-rate{
            font-size: 1rem;
            transform: translateY(-2px);
            .ant-rate-star{
              margin-right: 3px;
            }
          }
          p{
            margin: 0;
          }
        }
        .hotel-tag{
          width: 100%;
          display: flex;
          flex-flow: row wrap;
          button{
            position: relative;
            flex: 1;
            border-radius: 2px;
            cursor: default;
            padding: 2rem 1rem;
            .mat-button-wrapper{
              width: 100%;
              height: 100%;
              display: flex;
              flex-flow: column nowrap;
              .mat-icon{
                margin: auto;
                font-size: 2rem;
                width: 4rem;
                height: 2rem;
                display: flex;
                color: $cl-primary;
                &:before{
                  margin: auto;
                }
              }
            }
            p{
              margin: 0;
              word-break: break-word;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }
        }
        .hotel-description{
          p{
            margin: 0;
            max-height: 300px;
            overflow-y: auto;
          }
        }
      }
    }
  }
  .hotel-room{
    .hr-item{
      will-change: auto;
      transition: all .15s ease-in-out;
      display: flex;
      flex-flow: row nowrap;
      margin-bottom: 1rem;
      height: 250px;
      .item-avatar{
        height: 100%;
        width: 30%;
      }
      .item-info{
        width: 40%;
        padding: .5rem;
        .room-title{
          font-size: 1.6rem;
          color: $cl-primary;
          margin-bottom: .5rem;
        }
        p{
          margin: 0;
          display: flex;
          align-items: center;
          .mat-icon{
            margin-right: 1rem;
            color: $cl-primary;
            height: fit-content;
            &:before{
              font-size: 18px;
            }
          }
        }
      }
      .item-price{
        width: 30%;
        display: flex;
        flex-flow: column nowrap;
        padding: .5rem;
        justify-content: center;
        align-items: center;
        p{
          margin: 0;
          color: $cl-primary;
          font-size: 1.5rem;
          text-align: center;
          font-weight: 500;
        }
        button{
          width: 100%;
          max-width: 200px;
        }
      }
      &:hover{
        box-shadow:0 5px 5px -3px rgba($cl-primary,.3), 0 8px 10px 1px rgba($cl-primary,.14), 0 3px 14px 2px rgba($cl-primary,.12);
      }
    }
  }
  .hotel-gallery{
    .hg-content{
      width: 100%;
      height: 500px;
      min-height: 500px;
      max-height: 800px;
      overflow-y: auto;
      .hg-item{
        width: calc((100% - 30px)/4);
        margin-bottom: 10px;
        will-change: auto;
        transition: all .15s ease-in-out;
        box-shadow: none;
        &:hover{
          box-shadow:0 5px 5px -3px rgba($cl-primary,.4), 0 8px 10px 1px rgba($cl-primary,.2), 0 3px 14px 2px rgba($cl-primary,.2);
        }
      }
      @media (max-width: 1199px){
        .hg-item{
          width: calc((100% - 20px)/3);
        }
      }
      @media (max-width: 767px){
        .hg-item{
          width: calc((100% - 10px)/2);
        }
      }
    }
  }
  .hotel-compare{
    .hc-content{
      .hc-item1{
        display: flex;
        flex-flow: column nowrap;
        .item-avatar{
          max-height: 300px;
        }
        h3{
          color: $cl-primary;
          font-size: 1.6rem;
        }
        p{
          margin: 0;
        }
      }
      .hc-item2{

        display: flex;
        flex-flow: column nowrap;
        button{
          margin: auto;
        }
      }
      .hc-item3{

        display: flex;
        flex-flow: column nowrap;
        button{
          margin: auto;
        }
      }
    }
  }
  .hotel-comment{
    margin-bottom: 3rem!important;
  }
}

.grid-sizer{
  width: 25%;
}

.mat-ripple-element{
  background: rgba($cl-primary, .15);
}

gallery{
  width: 100%;
  border-radius: 2px;
  margin-bottom: 2rem;
  gallery-slider{
    padding: 25px 0;
  }
}

.gallery{
  width: 100%;
  margin-bottom: 3rem;
  border-radius: 2px;
  overflow: hidden;
  .hero-carousel{
    width: 100%;
    height: 400px;
    .slick-list{
      height: 100%;
      .slick-track{
        height: 100%;
        .slick-slide{
          width: 100%;
          overflow: hidden;
          img{
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .slick-next{
      right: 0;
      z-index: 100;
      width: 60px;
      height: 100%;
      display: flex;
      &:before{
        content: "";
        display: block;
        width: 40px;
        height: 40px;
        margin: auto;
        background: url(..\..\assets\img\next.png) center no-repeat;
        background-size: cover;
      }
    }
    .slick-prev{
      left: 0;
      z-index: 100;
      width: 60px;
      height: 100%;
      display: flex;
      &:before{
        margin: auto;
        content: "";
        display: block;
        width: 40px;
        height: 40px;
        background: url(..\..\assets\img\back.png) center no-repeat;
        background-size: cover;
      }
    }
  }
  .nav-carousel{
    width: 100%;
    height: 100px;
    .slick-list{
      height: 100%;
      .slick-track{
        height: 100%;
        background: #000;
        .slick-slide{
          width: 100%;
          overflow: hidden;
          padding: 1px 0 1px 1px;
          img{
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
.loading-screen{
  position: fixed;
  display: block;
  content: '';
  z-index: 1200;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #ff5f6d, #ffc371);
}
.sk-cube-grid {
  width: 50px;
  height: 50px;
  position: absolute;
  display: block;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50px, -50%);
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: $cl-white;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}
