<app-header></app-header>

<div class="loading-screen" [hidden]="!loadingScreen">
  <div class="sk-cube-grid">
    <div class="sk-cube sk-cube1"></div>
    <div class="sk-cube sk-cube2"></div>
    <div class="sk-cube sk-cube3"></div>
    <div class="sk-cube sk-cube4"></div>
    <div class="sk-cube sk-cube5"></div>
    <div class="sk-cube sk-cube6"></div>
    <div class="sk-cube sk-cube7"></div>
    <div class="sk-cube sk-cube8"></div>
    <div class="sk-cube sk-cube9"></div>
  </div>
</div>

<nz-anchor [nzOffsetTop]="0" [nzAffix]="true" [nzShowInkInFixed]="false">
  <nz-link matRipple nzHref="#about" nzTitle="Giới thiệu" title=""></nz-link>
  <nz-link matRipple nzHref="#room" nzTitle="Phòng ốc"></nz-link>
  <nz-link matRipple nzHref="#gallery" nzTitle="Hình ảnh"></nz-link>
  <nz-link matRipple nzHref="#compare" nzTitle="So sánh"></nz-link>
  <nz-link matRipple nzHref="#comment" nzTitle="Đánh giá"></nz-link>
</nz-anchor>

<div class="row no-gutters detail-wrapper">

  <div id="about" class="col-12 col-md-10 m-auto hotel hotel-about">
    <div class="ha-wrapper">
      <div class="gallery sm-shadow">
        <ngx-slick-carousel gallerize class="hero-carousel"
          #slickModal="slick-carousel"
          [config]="heroConfig">
          <div ngxSlickItem *ngFor="let img of hotel.Album">
            <img src="https://luxuria-api.azurewebsites.net{{img.Url}}" alt="fluid-img">
          </div>
        </ngx-slick-carousel>
        <ngx-slick-carousel class="nav-carousel"
          #slickModal="slick-carousel"
          [config]="navConfig">
          <div ngxSlickItem *ngFor="let img of hotel.Album">
            <img src="https://luxuria-api.azurewebsites.net{{img.Url}}" alt="fluid-img">
          </div>
        </ngx-slick-carousel>
      </div>
      <div class="ha-content sm-shadow">
        <h2 class="hotel-title">{{hotel.Name}}</h2>
        <div class="hotel-subtitle">
          <nz-rate nzDisabled nzAllowHalf [ngModel]="hotel.Star"></nz-rate>
          <mat-icon matPrefix>location_on</mat-icon>
          <p>{{hotel.Address}}, {{hotel.DistrictName}}, {{hotel.ProvinceName}}</p>
        </div>
        <mat-divider class="my-2"></mat-divider>
        <div class="hotel-tag">
          <button mat-button *ngFor="let service of hotel.Services"><mat-icon fontSet="fa" class="fa-icon" fontIcon="{{service?.icon}}"></mat-icon><p>{{service?.mota}}</p></button>
        </div>
        <mat-divider class="my-2"></mat-divider>
        <div class="hotel-description">
          <p innerHTML="{{hotel.Description}}"></p>
        </div>
      </div>
    </div>
  </div>
  <div id="room" class="col-12 col-md-10 m-auto hotel hotel-room">
    <h2 class="hotel-title mb-4">Phòng ốc</h2>

    <div class="hr-item sm-shadow" *ngFor="let r of hotel.ListRoom">
      <div class="item-avatar">
        <img src="https://luxuria-api.azurewebsites.net{{r.Avatar}}" class="fluid-img">
      </div>
      <div class="item-info">
        <h3 class="room-title" (click)="selectRoom(r.Id)">{{r.Description}}</h3>
        <p><mat-icon fontSet="fa" class="fa-icon" fontIcon="fa-home" matPrefix></mat-icon>Diện tích {{r.Acreage}}m<sup>2</sup></p>
        <p *ngFor="let tag of r.info"><mat-icon fontSet="fa" class="fa-icon" fontIcon="{{tag.icon}}" matPrefix></mat-icon>{{tag.description}}</p>
      </div>
      <div class="item-price">
        <p>{{r.Price}} đ/đêm</p>
        <button mat-flat-button (click)="selectRoom(r.Id)">Đặt phòng</button>
      </div>
    </div>


  </div>
  <div id="gallery" class="col-12 col-md-10 m-auto hotel hotel-gallery">
    <h2 class="hotel-title mb-4">Hình ảnh</h2>
    <ng-masonry-grid
      [masonryOptions]="masonryOpt"
      [useAnimation]="true"
      [useImagesLoaded]="true"
      [scrollAnimationOptions]="{ animationEffect: 'effect-4', minDuration : 0.4, maxDuration : 0.7 }" gallerize>
    <!-- Masonry Grid Item -->
      <ng-masonry-grid-item class="hg-content" id="{{'masonry-item-'+i}}" *ngFor="let img of hotel.Album; let i = index;">
          <img src="https://luxuria-api.azurewebsites.net{{img.Url}}" class="hg-item">
      </ng-masonry-grid-item>
    </ng-masonry-grid>
  </div>
  <div id="compare" class="col-12 col-md-10 m-auto hotel hotel-compare">
    <h2 class="hotel-title mb-4">So sánh</h2>
    <div class="hc-content row no-gutters">
      <div class="hc-item1 col-4">
        <div class="item-avatar">
          <img src="../../assets/img/ha-noi.jpg" class="fluid-img">
        </div>
        <h3>{{hotel.Name}}</h3>
        <p>{{hotel.Price}} đ/đêm</p>
      </div>
      <div class="hc-item2 col-4">
        <button mat-stroked-button color="primary"> Thêm khách sạn</button>
      </div>
      <div class="hc-item3 col-4">
        <button mat-stroked-button color="primary"> Thêm khách sạn</button>
      </div>
    </div>
  </div>
  <div id="comment" class="col-12 col-md-10 m-auto hotel hotel-comment">
    <h2 class="hotel-title mb-4">Đánh giá</h2>
    <div class="hcm-content sm-shadow">
      <mat-list>
        <mat-list-item>Bình luận</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Bình luận</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Bình luận</mat-list-item>
      </mat-list>
    </div>
  </div>
</div>

<app-footer></app-footer>
