<app-header></app-header>

<nz-anchor [nzOffsetTop]="0" [nzAffix]="true" [nzShowInkInFixed]="false">
  <nz-link nzHref="#about" nzTitle="Giới thiệu" title="" matRipple [matRippleColor]="primary"></nz-link>
  <nz-link nzHref="#room" nzTitle="Phòng ốc" matRipple [matRippleColor]="primary"></nz-link>
  <nz-link nzHref="#gallery" nzTitle="Hình ảnh" matRipple [matRippleColor]="primary"></nz-link>
  <nz-link nzHref="#compare" nzTitle="So sánh" matRipple [matRippleColor]="primary"></nz-link>
  <nz-link nzHref="#comment" nzTitle="Đánh giá" matRipple [matRippleColor]="primary"></nz-link>
</nz-anchor>

<div class="row no-gutters detail-wrapper">
  <div id="about" class="col-12 col-md-10 m-auto">
    <div class="content sm-shadow">
      <h2>Khách sạn Helios Legend</h2>
    </div>
  </div>
  <div id="room" class="col-12 col-md-10 m-auto">
    <div class="content sm-shadow">
      <h2>Phòng ốc</h2>
    </div>

  </div>
  <div id="gallery" class="col-12 col-md-10 m-auto">

    <div class="content sm-shadow">
      <h2>Hình ảnh</h2>
    </div>
  </div>
  <div id="compare" class="col-12 col-md-10 m-auto">

    <div class="content sm-shadow">
      <h2>So sánh</h2>
    </div>
  </div>
  <div id="comment" class="col-12 col-md-10 m-auto">

    <div class="content sm-shadow">
      <h2>Đánh giá</h2>
    </div>
  </div>
</div>

<app-footer></app-footer>
