$cl-primary: #3f51b5;
$cl-white: #fff;
$cl-gray: #cbcbcb;
$cl-green: #63c355;
$cl-orange: #f05700;
$cl-brown: #937341;
$cl-red: #fe3d3d;
$cl-lightblue: #bee0d0;
$cl-pink: #ffb0b2;
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts'
