@import "../../scss/variables.scss";

.result-page-wrapper{
  padding: 3rem;
}
@media (max-width: 1199px){
  .result-page-wrapper{
    padding: 2rem;
  }
}
@media (max-width: 767px){
  .result-page-wrapper{
    padding: 1rem;
  }
}

.filter-wrapper{
  width: 100%;
  .search-overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    opacity: 0;
    background: rgba(0,0,0,0.6);
    transition: opacity .15s ease-in-out;
    &.show{
      z-index: 400;
      opacity: 1;
    }
  }
  .search-filter{
    padding: 1rem;
    width: 100%;
    position: sticky;
    top: 1rem;
    z-index: 500;
    margin-bottom: 1rem;
    border-radius: 2px;
    border: 1px solid $cl-primary;
    border-left: 4px solid $cl-primary;
    background: $cl-white;
    .mat-form-field{
      width: 100%;
      background: $cl-white;
      margin-bottom: 1rem;
      padding: .25rem 0;
      border-radius: 2px;
      cursor: pointer;
      transition: all .3s ease-in-out;
      .mat-form-field-wrapper{
        padding-bottom: 0;
        .mat-form-field-flex{
          margin-top: -1rem;
          .mat-form-field-prefix{
            align-self: flex-end;
            margin-right: .5rem;
            .mat-icon{
              font-size: 1.6rem;
              color: #aaa;
              align-self: flex-end;
              margin-right: 0;
            }
          }
          .mat-form-field-prefix{
            input{
              caret-color: $cl-primary;
              font-size: 1rem;
            }
          }
        }
        .mat-form-field-underline{
          background: $cl-white;
          bottom: 1px  ;
        }
      }
      input{
        cursor: pointer;
      }
      &.show{
        z-index: 500;
      }
      &.mat-focused{
        .mat-form-field-prefix{
          .mat-icon{
            color: $cl-primary!important;
          }
        }
      }
      &:hover{
        /* box-shadow: 0 .6rem 1rem -.6rem rgba($cl-primary, .5); */
      }
    }
    .search-date{
      input{
        box-shadow: none;
        border: none;
        height: 18px;
        caret-color: transparent
      }
    }
    .search-peoples{
      input{
        caret-color: transparent;
      }
      .people-count{
        position: absolute;
        display: none;
        flex-flow: row nowrap;
        align-items: baseline;
        justify-content: space-between;
        content: '';
        width: calc(100% + 40px);
        top: 100%;
        right: 0;
        background: #fff;
        border-radius: 2px;
        padding: .5rem;
        button{
          display: flex;
          justify-content: center;
        }
        input{
          text-align: center;
          color: $cl-primary;
          font-size: 1.5rem;
        }
        &.show{
          display: flex;
          z-index: 600;
        }
      }
    }
    .search-confirm{
      padding: 0;
      height: 37.5px;
      width: 100%;
      button{
        width: 100%;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: 2px;
        font-size: 1.2rem;
        text-transform: uppercase;
        p{
          margin: 0;
        }
        .mat-loader{
          circle{
            stroke: $cl-primary;
          }
        }
      }
      &.show{
        z-index: 500;
      }
    }
  }
}

.search-result-filter{
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  margin-bottom: 1rem;
  p{
    margin-bottom: 0;
  }
}
.search-result{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem 1rem;
  .search-item{
    position: relative;
    width: 100%;
    height: 100%!important;
    padding: 15px;
    display: flex;
    flex-flow: column nowrap;
    height: fit-content;
    padding-bottom: 100px;
    .mat-card-image{
      margin: -15px -15px 0 -15px;
      height: 280px;
      width: calc(100% + 30px);
      overflow: hidden;
      position: relative;
      perspective: 1000px;
      transform-style: preserve-3d;
      img{
        transition: all .3s ease;
        object-fit: cover;
        object-possition: center;
        width: 100%;
        height: 100%;
        &:hover{
          transform: translateZ(20px)
        }
      }
      .tag-icon-wrapper{
        position: absolute;
        display: block;
        content: '';
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(0,0,0,.5);
        opacity: 0;
        will-change: auto;
        transition: .3s ease-in-out;
        .tag-icon{
          display: flex;
          width: fit-content;
          height: 100%;
          flex-flow: column wrap;
          justify-items: flex-start;
          .mat-icon-button{
            opacity: 0;
            transform: translateX(-50px);
            will-change: auto;
            .mat-icon{
              color: $cl-white;
            }
            .fa-icon{
              font-size: 1.2rem;
            }
            @for $i from 1 through 10 {
              &:nth-child(#{$i}) {
                transition: all .3s cubic-bezier(.24,.56,.34,1.14) .1s*($i - 1);
              }
            }
            &:hover{
              background: transparent;
            }
          }
        }
      }
      .info{
        position: absolute;
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
        width: 100%;
        top: 100%;
        left: 0;
        background: rgba(0,0,0,.7);
        opacity: 0;
        transition: .3s ease-in-out;
        will-change: auto;
        text-align: justify;
        h4{
          display: inline-block;
          width: auto;
          margin: auto;
          font-size: 1.2rem;
          color: $cl-white;
          margin-bottom: 0;
          padding: 10px 0;
          text-align: center;
          text-transform: capitalize;
          position: relative;
          &:before{
            position: absolute;
            display: block;
            content: '';
            width: 50px;
            height: 1px;
            top: 50%;
            right: calc(100% + 10px);
            transform: translateY(-50%);
            background: $cl-white;
          }
          &:after{
            position: absolute;
            display: block;
            content: '';
            width: 50px;
            height: 1px;
            top: 50%;
            left: calc(100% + 10px);
            transform: translateY(-50%);
            background: $cl-white;
          }
        }
        p{
          font-size: .9rem;
          padding: .5rem 2rem 2rem 2rem;
          width: 100%;
          height: 100%;
          margin: auto;
          color: $cl-white;
          overflow-y: scroll;
          &::-webkit-scrollbar-thumb{
            background: rgba(255,255,255,.2);
          }
        }
        &.show{
          top: 0;
        }
      }
      .trigger{
        position: absolute;
        display: flex;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%) rotate(0);
        font-size: 2rem;
        width: 2rem;
        height: 2rem;
        color: $cl-white;
        opacity: 0;
        will-change: auto;
        transition: all .15s ease-in-out;
        cursor: pointer;
        &.show{
          transform: translateX(-50%) rotate(180deg);
        }
      }
      &:hover{
        img{
          transform: scale(1.1)
        }
        .tag-icon-wrapper{
          opacity: 1;
          .mat-icon-button{
            opacity: 1;
            transform: translateX(0);
          }
        }
        .info{
          opacity: 1;
        }
        .trigger{
          opacity: 1;
        }
      }
    }
    .mat-card-header{
      .mat-card-header-text{
        margin: 0;
        .mat-card-title{
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-top: .5rem;
          margin-bottom: 0;
          font-size: 1.4rem;
          font-weight: 500;
          color: $cl-primary;
          cursor: pointer;
        }
        .mat-card-subtitle{
          display: flex;
          flex-flow: column nowrap;
          align-items: flex-start;
          margin-bottom: 0;
          .ant-rate{
            font-size: 1rem;
            display: block;
            .ant-rate-star{
              margin-right: 3px;
            }
          }
          p{
            font-size: .9rem;
            margin: 0;
            .mat-icon{
              font-size: 1rem;
              width: 1rem;
              height: 1rem;
              transform: translateY(2px);
              transition: all .15s ease-in-out;
            }
            &:hover{
              color: rgba($cl-primary, .6);
              .mat-icon{
                color: $cl-primary;
              }
            }
          }
        }
      }
    }
    .mat-card-content{
      margin-bottom: 0;
      .tag-text{
        width: 100%;
        display: flex;
        padding: 2px 0;
        flex-flow: row wrap;
        .mat-stroked-button{
          font-size: .8rem;
          margin: 2px 2px 2px 0;
          width: fit-content;
          display: flex;
          .mat-button-wrapper{
            line-height: 1.6rem
          }
        }
      }
      .icon{
        font-size: 2rem;
      }
    }
    .mat-card-actions{
      position: absolute;
      width: 100%;
      bottom: 16px;
      left: 16px;
      margin-bottom: -1rem;
      padding: 0;
      button{
        width: 100%;
        .mat-button-wrapper{
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: center;
          .mat-icon{
            margin-right: .5rem;
          }
        }
      }
    }
    &:hover{
      box-shadow: 0 .5rem 1rem rgba($cl-primary, .5);
    }
  }
}
@media (max-width: 1199px){
  .search-result{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px){
  .search-result{
    grid-template-columns: repeat(1, 1fr);
  }
}

.mat-green{
  color: $cl-green;
  border-clor: $cl-green;
  .mat-button-focus-overlay{
    background: rgba($cl-green, .15);
  }
}
.mat-orange{
  color: $cl-orange;
  border-clor: $cl-orange;
  .mat-button-focus-overlay{
    background: rgba($cl-orange, .15);
  }
}
.mat-red{
  color: $cl-red;
  border-clor: $cl-red;
  .mat-button-focus-overlay{
    background: rgba($cl-red, .15);
  }
}

.result-wrapper{
  position: relative;
  min-height: 100vh;
}

.loading-content{
  position: absolute;
  display: block;
  content: '';
  z-index: 700;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: $cl-white;
  .loader {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
  }

  .loader > div {
    background-color: $cl-primary;
    height: 100%;
    margin: 0 1px;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }

  .loader .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }

  .loader .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  .loader .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }

  .loader .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }

  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
  }

  @keyframes sk-stretchdelay {
    0%, 40%, 100% {
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% {
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }
}

.theme-dark-blue .bs-datepicker-head{
  background: $cl-primary;
}
.theme-dark-blue .bs-datepicker-body table td span.selected, .theme-dark-blue .bs-datepicker-body table td.selected span, .theme-dark-blue .bs-datepicker-body table td span[class*="select-"]:after, .theme-dark-blue .bs-datepicker-body table td[class*="select-"] span:after{
  background: $cl-primary;
}
.no-scroll{
  overflow: hidden;
  padding-right: 8px;
}
@media (max-width: 767px){
  .no-scroll{
    overflow: auto;
    padding: 0;
  }
}
