<app-header></app-header>

<div class="loading-screen" [hidden]="!loadingContent">
  <div class="spinner"></div>
</div>

<div class="row no-gutters home-wrapper">

    <!-- HERO START -->

    <div class="col-12 hero-wrapper">
        <div class="row no-gutters hero">

            <!-- SEARCH START -->

            <div class="col-12 col-lg-6 hero-search">
                <h1>" ĐẶT PHÒNG KHÁCH SẠN, RESORT, NHÀ TRỌ & HƠN NỮA " - SORIUM</h1>
                <p class="sub-title">Giá tốt nhất cho hơn 2.000.000 chỗ ở trên toàn Việt Nam</p>
                <div class="search-overlay"></div>

                <form [formGroup]="searchForm" (ngSubmit)="submitHandler()" class="search-form row no-gutters">
                  <!-- {{ searchForm.value | json }} -->
                  <mat-form-field class="search-key col-12 shadow" color="primary">
                    <mat-icon matPrefix>search</mat-icon>
                    <mat-label>Nhập điểm du lịch</mat-label>
                    <input matInput
                    placeholder="Ví dụ: Hà Nội" formControlName="searchLocation"
                    [matAutocomplete]="auto">
                    <button mat-button matSuffix mat-icon-button type="button" (click)="resetInput()" *ngIf="searchLocation.value">
                      <mat-icon>close</mat-icon>
                    </button>
                    <mat-autocomplete #auto="matAutocomplete"
                    autoActiveFirstOption
                    [displayWith]="displayFn">
                       <mat-option *ngFor="let city of filteredCitys | async" [value]="city">
                         {{city.ProvinceName}}
                       </mat-option>
                     </mat-autocomplete>
                  </mat-form-field>

                  <mat-form-field class="search-date col-12 shadow" color="primary" (click)="drp.show()">
                    <mat-icon matPrefix (click)="drp.toggle()">date_range</mat-icon>
                    <input matInput class="form-control prevent-input" #drp="bsDaterangepicker" placement="bottom"
                    [minDate]="minDate"
                    [bsConfig]="bsConfig" bsDaterangepicker autocomplete="off"
                    formControlName="searchDate" placeholder="Bạn muốn đi du lịch trong bao lâu">
                  </mat-form-field>

                  <!-- <mat-form-field class="checkin" (click)="checkin.open()">
                    <input matInput formControlName="checkin" [min]="minDate" [max]="maxDate" (click)="checkin.open()" [matDatepicker]="checkin" placeholder="Chọn ngày đến" autocomplete="off" class="prevent-input">
                    <mat-icon matPrefix><mat-icon class="arrow-icon" matPrefix>arrow_right_alt</mat-icon>date_range</mat-icon>
                    <mat-datepicker #checkin></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field class="checkout" (click)="checkout.open()">
                    <input matInput formControlName="checkout" [min]="minDate" [max]="maxDate" (click)="checkout.open()" [matDatepicker]="checkout" placeholder="Chọn ngày đi" autocomplete="off" class="prevent-input">
                    <mat-icon matPrefix><mat-icon class="arrow-icon" matPrefix>arrow_right_alt</mat-icon>date_range</mat-icon>
                    <mat-datepicker #checkout></mat-datepicker>
                  </mat-form-field> -->

                  <mat-form-field class="search-peoples col-12 col-md-8 shadow" (click)="setPpl()">
                    <mat-icon matPrefix>people</mat-icon>
                    <input matInput placeholder="Tổng số người" formControlName="peopleCount" autocomplete="off" class="prevent-input">
                    <div class="people-count md-shadow">
                      <button mat-button mat-icon-button type="button" (click)="removePeople()">
                        <mat-icon matPrefix>remove_circle_outline</mat-icon>
                      </button>
                      <input matInput readonly formControlName="peopleCount">
                      <button mat-button mat-icon-button type="button" (click)="addPeople()">
                        <mat-icon matSuffix>add_circle_outline</mat-icon>
                      </button>
                    </div>
                  </mat-form-field>

                  <div class="search-confirm col-12 col-md-4">
                      <button mat-flat-button color="primary" type="submit" class="shadow">
                        <p *ngIf="!isLoading">Tìm kiếm</p>
                        <mat-spinner diameter="40" color="white" *ngIf="isLoading"></mat-spinner>
                      </button>

                  </div>
                </form>
            </div>

            <!-- SEARCH END -->

            <!-- EXPLORE START -->

            <div class="col-12 col-lg-6 hero-news">
                <mat-tab-group mat-tabs dynamicHeight [selectedIndex]="0">
                    <mat-tab>
                      <ng-template mat-tab-label>
                        <mat-icon>home</mat-icon>
                        Có gì mới
                      </ng-template>
                      <div class="row no-gutters tab-content">
                        <div class="col-12 col-sm-6 content-wrapper" *ngFor="let hotel of promoteHotel">
                            <div class="new-hotel">
                                <img src="{{hotel.Avatar}}" alt="">
                                <div class="new-hotel-detail">
                                    <div class="new-hotel-detail-title">
                                      <h3 (click)="selectHotel(hotel.Id)">{{hotel.Name}}</h3>
                                      <p>{{hotel.Address}}, {{hotel.DistrictName}}, {{hotel.ProvinceName}}</p>
                                    </div>
                                    <button mat-stroked-button (click)="selectHotel(hotel.Id)">Đặt phòng ngay</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 content-wrapper">
                            <div class="owner">
                                <div class="owner-img">
                                  <img src="./../assets/img/owner.jpg" class="fluid-img">
                                </div>
                                <div class="owner-detail">
                                  <h3 routerLink="/chu-khach-san">Đăng khách sạn trên Sorium</h3>
                                  <p>Không mất phí. Và luôn như vậy</p>
                                  <button mat-stroked-button routerLink="/chu-khach-san">Trở thành chủ khách sạn</button>
                                </div>
                            </div>
                        </div>
                      </div>
                    </mat-tab>
                    <mat-tab>
                      <ng-template mat-tab-label>
                        <mat-icon>public</mat-icon>
                        Khám phá
                      </ng-template>
                      <div class="row no-gutters tab-content">
                          <div class="col-12 my-2 new-content">
                            <img src="./../assets/img/ha-noi.jpg" alt="">
                          </div>
                          <div class="col-12 my-2 new-content">
                            <img src="./../assets/img/ho-chi-minh.jpg" alt="">
                          </div>
                      </div>
                    </mat-tab>
                    <!-- <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon>bookmarks</mat-icon>
                            Optional
                        </ng-template>
                        <div class="row no-gutters">
                            Bla Blah
                        </div>
                    </mat-tab> -->
                </mat-tab-group>
            </div>

            <!-- EXPLORE END -->

        </div>
    </div>

    <!-- HERO END -->

    <!-- RUMOR START -->
    <div class="col-12 rumor-wrapper text-center">
      <h2>Tiếng lành đồn xa</h2>
      <div class="rumor-bg row no-gutters">
        <div class="col-12 col-lg-4 rumor" *ngFor="let cm of comments">
          <div class="rumor-item">
            <h3 routerLink="/chi-tiet">{{cm.HotelName}}</h3>
            <h5>ở {{cm.HotelAddress}}, {{cm.HotelDistrictName}}, {{cm.HotelProvinceName}}</h5>
            <p>{{cm.Content}}</p>
            <h5>- {{cm.FullName}} ở {{cm.UserProvinceName}}</h5>
          </div>
        </div>
      </div>
    </div>
    <!-- RUMOR END -->

    <!-- CITY START -->

    <div class="col-12 city-wrapper text-center">
      <h2>Điểm đến phổ biến</h2>
      <div class="city-grid">
        <div class="city-item" *ngFor="let pro of promoteProvince" routerLink="/tinh-thanh/chi-tiet/{{pro.Id}}">
          <img src="./../../assets/img/ha-noi.jpg" alt="">
          <p>{{pro.ProvinceName}}</p>
        </div>
        <div class="city-item" routerLink="/tinh-thanh">
          <img src="./../../assets/img/da-nang.jpg" alt="">
          <p>Xem tất cả điểm đến</p>
        </div>
      </div>
    </div>

    <!-- CITY END -->

</div>

<app-footer></app-footer>
